body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.subtitles {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.subtitles .border {
  color: #fff;
  padding: 20px;
}

.subtitles .border.trans {
  background-color: transparent;
}

.bg-image-one, .image-two, .image-three {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-image-one {
  background-image: url("../images/image-one.jpeg");
  min-height: 100%;
}

nav.black {
  background: red;
  height: 80px;
  padding: 10px 50px;
}

.logo img {
  float: left;
  height: 60px;
  transition: 0.5s;
  margin-top: 12px;
  margin-left: 12px;
}

.container {
  clear: both;
  float: left;
  overflow: hidden;
  width: 100%;
  margin-top: 150px;
  font-size: 25px;
}

#menu {
  float: left;
  left: 50%;
  list-style: none;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

#menu li {
  float: left;
  position: relative;
  right: 50%;
}

.menu-items a {
  text-decoration: none;
  padding: 15px;
  color: white;
}

.container a.active,
.container a:hover {
  color: #fff;
  background: #f00;
}

nav.black ul li a {
  color: #fff;
  line-height: 60px;
}

#toggle {
  display: none;
}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#btn-download-cv {
  margin: 200px auto 0px;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

#btn-download-cv:hover {
  background-color: RoyalBlue;
}

.image-two {
  background-image: url("../images/image-two.jpeg");
  min-height: 300px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.container-about {
  display: flex;
  padding-top: 70px;
}

#avatar {
  width: 100%;
  height: 100%;
}

.image-three {
  background-image: url("../images/image-three.jpg");
  min-height: 300px;
}

.section-dark {
  background-color: #282e34;
  color: white;
}

.container-offer h2 {
  color: #666;
  padding-top: 20px;
}

.container-offer {
  display: flex;
}

.container-offer div {
  background: white;
  width: 100px;
  height: 250px;
  margin: 20px;
  border-radius: 50%;
}

.box1 {
  flex: 1;
}

.box2 {
  flex: 1;
}

.box3 {
  flex: 1;
}

.box4 {
  flex: 1;
}

.icons {
  width: 80px;
  height: 80px;
}

.container-works {
  display: flex;
}

.works {
  margin: 20px;
  flex: 1;
  background: white;
}

.container-works h2 {
  color: #282e34;
}

.github-icon {
  width: 10%;
  height: 10%;
}

.works-images {
  width: 250px;
  height: 250px;
}

#contact {
  color: white;
  margin: 0px;
  padding-top: 40px;
}

.image-footer {
  text-align: center;
}

#feedback-page {
  text-align: center;
}

#form-div {
  background-color: rgba(72, 72, 72, 0.4);
  padding: 0px 30px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top: 30px;
  margin-left: -260px;
  -webkit-border-radius: 7px;
}

.feedback-input {
  color: #3c3c3c;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid #f00;
  color: #f00;
  outline: none;
  padding: 13px 13px 13px 54px;
  font-size: 18px;
}

.focused {
  color: #f00;
  border: #f00 solid 3px;
}

/* Icons ---------------------------------- */
#name {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 17px 17px;
  background-position: 16px 13px;
  background-repeat: no-repeat;
}

#name:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 25px 25px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 17px 17px;
  background-position: 16px 14px;
  background-repeat: no-repeat;
}

#email:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment {
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 17px 17px;
  background-position: 16px 14px;
  background-repeat: no-repeat;
}

#comment:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 27px 27px;
  background-position: 15px 10px;
  background-repeat: no-repeat;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color: white;
}

#button-blue {
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #f00;
  color: white;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
}

#button-blue:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #f00;
}

.submit:hover {
  color: #f00;
}

.ease {
  width: 0px;
  height: 59px;
  background-color: #fbfbfb;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
}

.submit:hover .ease {
  width: 100%;
  background-color: white;
}

@media only screen and (max-width: 576px) {
  .pimg1, .pimg2, .pimg3 {
    background-attachment: scroll;
  }

  #form-div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}

/*# sourceMappingURL=main.css.map */
