@media only screen and (max-width: 576px) { 
  .pimg1, .pimg2, .pimg3{
  background-attachment:scroll;
  }

  #form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}