.container-works {
  display: flex;
}

.works {
  margin: 20px;
  flex: 1;
  background: white;
}

.container-works h2 {
  color: #282e34;
}

.github-icon {
  width: 10%;
  height: 10%;
}

.works-images {
  width: 250px;
  height: 250px;
}